table {
    width: 100%;
    overflow-x: auto;
}

th {
    font-size: 15px;
    font-weight: 500;
    background-color: #002b5c;
    color: #fff;
}

.negative {
    color: red;
    font-weight: 500;
}

.positive {
    color: rgb(30, 179, 30);
    font-weight: 500;
}

.inactive {
    background-color: #ddd;
    cursor: not-allowed;
    border: none;
}

.inactive-button {
    display: none;
}

.action-button {
    border: none;
    cursor: pointer;
    background-color: #fff;
}

.action-button:hover, .action-button:active {
    transform: scale(1.05);
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    .mat-table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        display: table;
        border-collapse: collapse;
        margin: 0px;
    }
    .mat-row,
    .mat-header-row {
        display: table-row;
    }
    .mat-cell,
    .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 0px 5px;
        line-break: unset;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
    }
  }