<main>
        <!-- <mat-tab-group mat-align-tabs="end" mat-stretch-tabs dynamicHeight> -->
            <mat-tab-group dynamicHeight mat-stretch-tabs>
            <mat-tab label="Equities"> 
                <app-tile active={{activeEquities}} inactive={{inactiveEquities}}></app-tile>  
                <app-table security="equities"></app-table>
            </mat-tab>

            <mat-tab label="Bonds">
                <app-tile active={{activeBonds}} inactive={{inactiveBonds}}></app-tile>  
                <app-table security="bonds"></app-table>
            </mat-tab>

        </mat-tab-group>
</main>

