    <mat-toolbar>
        <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">
                menu
            </mat-icon>
            <mat-icon *ngIf="sidenav.opened">
                close
            </mat-icon>
        </button>
        <img src="../assets/IVP_Logo.jpg" class="toolbar-logo" alt="">
    </mat-toolbar>
        
        <mat-sidenav-container>

            <mat-sidenav #sidenav="matSidenav">
                <p class="sidenav-heading">Security Master</p>
                <mat-divider></mat-divider>
                <a routerLink="/viewer" class="sideNav-link">
                    <button mat-button class="menu-button">
                        <mat-icon>table_chart</mat-icon>
                        <span>View Securities</span>
                    </button>
                </a>
                <a routerLink="/uploader" class="sideNav-link">
                    <button mat-button class="menu-button">
                        <mat-icon>cloud_upload</mat-icon>
                        <span>Upload Securities</span>
                    </button>
                </a>
            </mat-sidenav>

            <mat-sidenav-content>
                <div class="content">
                    <router-outlet></router-outlet>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>

