  <mat-grid-list cols="3" gutterSize="20px" id="outer-grid" rowHeight="10rem">
    
    <mat-grid-tile>
        <mat-card class="example-card mat-elevation-z4" id="all-securities">
                <mat-card-subtitle>TOTAL SECURITIES</mat-card-subtitle>
                <mat-card-title>{{total(numberOfActive, numberOfInactive)}}</mat-card-title>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="example-card mat-elevation-z4" id="active-securities">
              <mat-card-subtitle>ACTIVE SECURITIES</mat-card-subtitle>
              <mat-card-title>{{numberOfActive}}</mat-card-title>
      </mat-card>
  </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="example-card mat-elevation-z4" id="inactive-securities">
            <mat-card-subtitle>INACTIVE SECURITIES</mat-card-subtitle>
            <mat-card-title>{{numberOfInactive}}</mat-card-title>
    </mat-card>
    </mat-grid-tile>

  </mat-grid-list>